# Dependencies
node_modules/

# Optional: cache & build artifacts
.cache/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional caches
/.parcel-cache
/.next
/.nuxt
/out
/.eslintcache

# TypeScript
*.tsbuildinfo

# Others
*.log
